{% load static %}
<!doctype html>
<html>
  <head>
    <title>{% if post %}Edit Post{% else %}Create Post{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>{% if post %}Edit Post{% else %}Create New Post{% endif %}</h1>
      </header>

      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Save Post</button>
        <a href="{% url 'post_list' %}">Cancel</a>
      </form>
    </div>
  </body>
</html>
